{% extends "base.html" %}

{% load call_methods %}

{% block title %}{{ goal }}{% endblock title %}

{% block content %}

<h1>{{ goal }}</h1>

<div class="col">

    <h2>Amount: €{{ goal.goal_amount }}</h2>

    <h4>Progress: {{ progress}}</h4>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-label="Animated striped example" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
            style="width: {{ progress }}"></div>
    </div>

    {% if goal.start_date %}
    <p>Start Date: {{ goal.start_date }}</p>
    {% endif %}

    {% if goal.target_date %}
    <p>Target Date: {{ goal.target_date }}</p>
    {% endif %}

    {% if goal.interval %}
    <p>Interval: {{ goal.interval }}</p>
    {% endif %}

    {% if goal.description %}

    <p>Description: {{ goal.description }}</p>

    {% endif %}

    {% if goal.notes %}

    <p>Notes: {{ goal.notes }}</p>

    {% endif %}

    {% if goal.account %}
    <p>Account: {{ goal.account }}</p>
    {% endif %}
</div>

<div class="row">
    <a href="{% url 'edit_saving_goal' goal.id %}" class="btns">Edit</a>

    <a href="{% url 'delete_saving_goal' goal.id %}" class="btns btns-danger">Delete</a>

    <a href="{{request.META.HTTP_REFERER}}" class="btns">Go back</a>
</div>

{% endblock content %}