{% extends "base.html" %}
{% block content %}

<h1>Transactions</h1>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Recurring</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.income_or_expense }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.recurring }}</td>
            <td>
                <a href="{% url 'transaction_detail' transaction.id %}">&#10097;
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
```